html {
  font-size: 24px;
  color: #1f1f22;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Work Sans", sans-serif;
}

a {
  color: inherit;
  &.external {
    text-transform: uppercase;
    font-size: 70%;
    font-family: "Work Sans", sans-serif;
    border: 1px solid #aaa;
    padding: 5px;
    transition: all 120ms linear;
    &:hover {
      background: rgba(#212121, 0.8);
      color: white;
      text-decoration: none;
    }
  }
}

h1,
h2,
h3,
h4 {
  // font-weight: 600;
}

p {
  font-family: "Lora", serif;
  font-size: 0.8rem;
  &.lead {
    font-size: 1rem;
  }
  &.small {
    font-size: 0.6rem;
  }
}

.about {
  height: 100vh;
  min-height: 900px;

  > .container {
    max-width: 80%;
  }

  .content {
    padding: 3rem 2.5rem;
  }
}

.hola {
  height: 90vh;
}

#navigation {
  transition: all 300ms linear;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  &.active {
    background: rgba(#f1f1f3, 0.98);
  }
}

// Helpers

.vh-75 {
  height: 80vh;
}

.work {
  position: relative;
  margin: 0 1rem 1.5rem;
  > .container {
    max-width: 80%;
  }
  &:before,
  &:after {
    content: "";
    width: 100%;
    height: 50%;
    z-index: 0;
    position: absolute;
    display: block;
  }

  &:before {
    top: 0;
    background: rgba(#f0f0f0, 0.9);
  }

  &:after {
    bottom: 0;
    background: rgba(#f0f0f0, 0.5);
  }
  .content {
    position: relative;
    z-index: 1;
    padding: 5rem 2.5rem;
  }
  .title {
    font-size: 22px;
    // text-transform: uppercase;
    font-weight: 600;
    // letter-spacing: 1.5px;
    font-family: "Lora";
  }

  &.amm {
    &:before {
      // background-color: rgba(#d3565a, 0.1);
      background-color: rgba(#b0c307, 0.32);
    }

    &:after {
      background-color: rgba(#b0c307, 0.2);
    }
  }

  &.djf {
    &:before {
      background-color: rgba(#312442, 0.15);
      // background-color: rgba(#ff0453, 0.1);
    }

    &:after {
      background-color: rgba(#312442, 0.1);
    }
  }

  &.lls {
    &:before {
      background-color: rgba(#7b0101, 0.15);
    }

    &:after {
      background-color: rgba(#7b0101, 0.09);
    }
  }
}
